body {
   margin: 0;
   padding: 0;
   border: 0;
}
header{
   display: block;
   width: 100%;
   padding: 70px 0;
   position: fixed;
   top: 0;
   background-color: white;
}
.header_container{
   top: 0;
}
.thanh{
   width: 1304px;
   max-width: 100%;
   display: flex;
   align-items: center;
   margin: 0 auto;
   justify-content: space-between;
   
}
.item{
   display: inline-block;
   list-style: none;
   left: 0;
   font-size: 18px;
   font-family: 'Inter', sans-serif;
   letter-spacing: 3px;
 
}
.phongto{
  font-size: 22px;
  margin-right: 10px;
}
.trai{
   display: flex;
   align-items: center;
}
.boxicon{
   display: flex;
   width: 40px;
   height: 40px;
   background-color: black;
   border-radius: 5px;
   margin-right: 12px;
   align-items: center;
  
}
.J{
   font-size: 25px;
   color: white;
   margin: 0 auto;
   align-items: center;

   
}
.bodymid{
   width: 1304px;
   display: flex;
   margin: 0 auto;
   font-family: 'Inter', sans-serif;
   margin-top: 200px;
   
}
.avatar{
   width: auto;
   height: 600px;
   margin-right: 12px;
}
.introduce{
   margin-left:70px;
   font-size: 48px;
   font-family: 'Inter', sans-serif;
   
}
.chu{
   font-size: 46px;
   font-family: 'Inter', sans-serif;
   margin: 0;
   margin-bottom: 6px;
   letter-spacing: 1px;
   font-weight: 600;
}

h1 span{
   height: 60px;
   display: flex;
   letter-spacing: 1px;
   font-weight: 500;
   font-size: 16px;
   padding-bottom: 30px;
   align-items: center;
   color: #373737;
}

.haha{
  
   display: flex;
   width: 450px;
   height: 78px;
   margin-top:60px;
   margin-bottom: 0px;
   padding-left: 0;
   list-style:none;
   font-family: 'Inter', sans-serif;
   justify-content: space-between;
   font-weight:800;
   color: #F26464;
   font-size: 36px;
}

li span{
   display: flex;
   flex-direction: column;
   font-size: 16px;
   color: #373737;
   letter-spacing: 1px;
   font-weight: 400;
   margin-top:5px ;
}
.aboutme{
   padding-top: 60px;
   padding-bottom: 60px;
   width: 1304px;
   margin: 0 auto;
   font-family: 'Inter', sans-serif;
   box-sizing:border-box ;
}
.box2{
   margin-top:5px ;
   width: 85.33px;
   height: 3px;
   background-color: #F26464 ;
}
.textt{
   color: #4a4949;
   font-size:24px;
   font-weight:300;
   
}
.buttonn{
   display: flex;
   width: 1304px;
   height:50px;
   max-width: 100%;
   margin: 0 auto;
   width: 1304px;
   justify-content: center;
   margin-bottom: 60px;
}
.dlr:hover{
   background-color: #F26464;
   color: white;
}
.dlr{
   display: flex;
   height: 50px;
   width: 240px;
   border: 2px;
   border-style:solid;
   border-color: #F26464;
   border-radius: 30px;
   background-color: rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   font-family: 'Inter', sans-serif;
   letter-spacing: 3px;
   font-weight: 600;
   margin-bottom: 60px;
   color: #F26464;
   font-size: 12px;
   transition-duration: 0.4s;
}
.skills{
   display: flex;
   width: 1304px;
   margin: 0 auto;
   padding-bottom:60px;
   margin-top: 100px;
}
.coreskills{
   display: flex;
   flex-direction: column;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   margin-right: 70px;
   width: 50%;
  
}
.box3{
   margin-top:3px ;
   width: 109px;
   height: 3px;
   background-color: #F26464 ;
}
.nut{
   display: flex;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
}
.buttonnn {
   font-family: 'Inter', sans-serif;
   border-radius: 30px;
   background-color: white;
   border: 1px solid #D7D7D7;
   color: black;
   text-align: center;
   padding: 10px 20px;
   font-size: 16px;
   margin: 15px 15px 15px 0;
   font-weight:500;
 }
 .otherskills{
   display: flex;
   flex-direction: column;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   font-weight: 600;
 }
 .box4{
   margin-top: 3px ;
   width: 118px;
   height: 3px;
   background-color: #F26464 ;
 }
 .we{
   width: 1304px;
   margin: 0 auto;
   font-size: 16px;
   padding-bottom: 60px;
 }
 .itemwe{
   font-size: 16px;
   font-family: 'Inter', sans-serif;
   margin-bottom: 50px;
 }
 .itemwe::after{
   content: "";
   display: block;
   position: relative;
   width: 160px;
   height: 3px;
   background-color: #F26464;
   top: 3px;
 }
 .textwe{
   display: flex;
   width: 100%;
   height: 420px;


 }
 .twel{
   width: 50%;
   height: 100%;
   margin-right: 60px;
 }
 .twer{
   width: 50%;
   height: 100%;
 }
 .twe1{
   font-weight: 700;
   color: #514f4f;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   padding-bottom: 15px;

 }
 .twe2{
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #373737;
  margin-bottom: 15px;
 }
 .twe3{
   font-size: 20px;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   color: #373737;
   padding-bottom: 30px;

 }
 ul{
   padding-left: 15px;
   
 }
 .twe4{
   font-size: 18px;
   font-family: 'Inter', sans-serif;
   color: #373737;
   margin-bottom: 10px;
   font-weight: 300;
 }
 
.latestworks{
   
   width: 1304px;
   margin: 0 auto;
   height: auto;
   margin-bottom: 100px;
  

}
.lt{
   font-size: 16px;
   font-family: 'Inter', sans-serif;
   margin-bottom: 50px;
   padding-bottom: 2px;
   border-bottom: 2px solid #F26464;
}
.tma{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   margin-top: 30px;
   width: 1304px;
   background-color:#F6F8FA;
   height: auto;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 40px;
   box-sizing: border-box;
}
.testtma{
   width: 45%;
   padding-right: 170px;
}
.ttma1{
   font-size: 30px;
   font-weight: 600;
   font-family: 'Inter', sans-serif;
}
.ttma2{
   font-family: 'Inter', sans-serif;
   margin-top: 30px;

   color: #373737;
   margin-bottom: 50px;
   font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.detailbox{
   display: inline;
   font-family: 'Inter', sans-serif; 
   border: 2px solid #F26464;
   color: #F26464;
   border-radius: 30px;
   padding: 17px 30px;
   font-weight: 600;
   letter-spacing: 2px;
   font-size: 12px;
   transition-duration: 0.4s;

   
}
.detailbox:hover
{
   background-color: #F26464;
   color: white;
}
.avatarend{
   width: 480px;
   height: auto;
}
.hma{
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   width: 1304px;
   background-color:#F6F8FA;
   height: auto;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 40px;
   box-sizing: border-box;
}
.cca{
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   width: 1304px;
   background-color:#F6F8FA;
   height: auto;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 40px;
   box-sizing: border-box;
}
.end{
display: flex;
flex-direction: column;
max-width: 100%;
height: 600px;
background-color: black;
justify-content: center;
align-items: center;
}
.te1{
   font-family: 'Inter', sans-serif; 
   color: rgba(255,255,255,0.5);
   font-weight: 700;
   font-size: 16px;
   letter-spacing: 1px;
   padding-bottom: 20px;
}
.te2{
   font-family: 'Inter', sans-serif; 
   color: white;
   font-weight: 700;
   font-size: 48px;
   letter-spacing: 1px;
   margin-bottom: 10px;
}
.te3{
   font-family: 'Inter', sans-serif; 
   color: rgb(238, 235, 235);
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 1px;
   margin-bottom: 40px;
}
.letstalk{
   padding: 17px 30px;
   font-family: 'Inter', sans-serif; 
   color: #F26464 ;
   background-color: black;
   font-weight: 600;
   border: 2px solid #F26464;
   border-radius: 60px;
   font-size: 12px;
   line-height: 13px;
   letter-spacing: 3px;
   margin-bottom: 97px;
}
.letstalk:hover{
   background-color: #F26464;
   color:white;
   transition-duration: 0.4s;
}

.te4{
   font-family: 'Inter', sans-serif; 
   color: rgba(255,255,255,0.5);
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 1px;
   margin-bottom: 40px;
}
 
 
 
